

@page "/agreement-form" 
<h3>AgreementForm</h3>

<div style="display:flex; height:100vh;">
    <div>
        <AgencySignerForm />
        <PersonalDetailsForm />
        <TermsAndConditions />
    </div>
</div>